/* pantalla pequeña */
@media (min-width:198px){

    .mostrador{
        width: 100%;
        margin: 1.5em;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .buscador{
        margin: 10px;
        display: block;
    }

    .card{
        margin: 10px;
    }

}



/* pantalla media */
@media (min-width:700px){

}


/* pantalla grande */
@media (min-width:1200px){

    .mostrador{
        grid-template-columns: 1fr 1fr 1fr;
    }
}